<body>
    <div>
        <table border="0" cellpadding="0" cellspacing="0" class="nl-container_mr_css_attr" role="presentation" style="background-color: #0e0e0e;background-position: top center;background-repeat: no-repeat;box-sizing: border-box;" width="100%">
            <tbody style="box-sizing: border-box;">
                <tr style="box-sizing: border-box;">
                    <td style="box-sizing: border-box;">
                        <table align="center" border="0" cellpadding="0" cellspacing="0" class="row_mr_css_attr row-1_mr_css_attr" role="presentation" style="box-sizing: border-box;" width="100%">
                            <tbody style="box-sizing: border-box;">
                                <tr style="box-sizing: border-box;">
                                    <td style="box-sizing: border-box;">
                                        <table align="center" border="0" cellpadding="0" cellspacing="0" class="row-content_mr_css_attr stack_mr_css_attr" role="presentation" style="color: #000;width: 680px;margin: 0 auto;box-sizing: border-box;" width="680">
                                            <tbody style="box-sizing: border-box;">
                                                <tr style="box-sizing: border-box;">
                                                    <td class="column_mr_css_attr column-1_mr_css_attr" style="font-weight: 400;text-align: left;padding-bottom: 5px;padding-top: 5px;vertical-align: top;border-top: 0px;border-right: 0px;border-bottom: 0px;border-left: 0px;box-sizing: border-box;" width="100%">
                                                        <table border="0" cellpadding="0" cellspacing="0" class="image_block_mr_css_attr block-1_mr_css_attr" role="presentation" style="box-sizing: border-box;" width="100%">
                                                            <tbody><tr style="box-sizing: border-box;">
                                                                <td class="pad_mr_css_attr" style="padding-bottom: 25px;padding-left: 10px;padding-right: 10px;padding-top: 25px;width: 100%;box-sizing: border-box;">
                                                                    <div align="center" class="alignment_mr_css_attr" style="line-height: 10px;box-sizing: border-box;"></div>
                                                                </td>
                                                            </tr>
                                                        </tbody></table>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <table align="center" border="0" cellpadding="0" cellspacing="0" class="row_mr_css_attr row-2_mr_css_attr" role="presentation" style="background-size: auto;box-sizing: border-box;" width="100%">
                            <tbody style="box-sizing: border-box;">
                                <tr style="box-sizing: border-box;">
                                    <td style="box-sizing: border-box;">
                                        <table align="center" border="0" cellpadding="0" cellspacing="0" class="row-content_mr_css_attr stack_mr_css_attr" role="presentation" style="background-size: auto;color: #000;width: 680px;margin: 0 auto;box-sizing: border-box;" width="680">
                                            <tbody style="box-sizing: border-box;">
                                                <tr style="box-sizing: border-box;">
                                                    <td class="column_mr_css_attr column-1_mr_css_attr" style="font-weight: 400;text-align: left;vertical-align: top;border-top: 0px;border-right: 0px;border-bottom: 0px;border-left: 0px;box-sizing: border-box;" width="100%">
                                                    
                                                        <div class="spacer_block_mr_css_attr block-2_mr_css_attr" style="height: 45px;line-height: 45px;font-size: 1px;box-sizing: border-box;"> </div>
                                                        <table border="0" cellpadding="0" cellspacing="0" class="heading_block_mr_css_attr block-3_mr_css_attr" role="presentation" style="box-sizing: border-box;" width="100%">
                                                            <tbody><tr style="box-sizing: border-box;">
                                                                <td class="pad_mr_css_attr" style="padding-bottom: 10px;text-align: center;width: 100%;box-sizing: border-box;">
                                                                    <h1 style="margin: 0;color: #ffffff;background-color: #29A0DC;direction: ltr;font-family: 'Roboto', Tahoma, Verdana, Segoe, sans-serif;font-size: 72px;font-weight: 400;letter-spacing: -1px;line-height: 120%;text-align: center;margin-top: 0;margin-bottom: 0;padding-bottom: 10px;box-sizing: border-box;"><span class="tinyMce-placeholder_mr_css_attr" style="box-sizing: border-box;"><strong style="box-sizing: border-box;">Telegram-bots</strong></span></h1>
                                                                </td>
                                                            </tr>
                                                        </tbody></table>
                                                        <table border="0" cellpadding="0" cellspacing="0" class="heading_block_mr_css_attr block-4_mr_css_attr" role="presentation" style="box-sizing: border-box;" width="100%">
                                                            <tbody><tr style="box-sizing: border-box;">
                                                                <td class="pad_mr_css_attr" style="padding-bottom: 20px;padding-left: 10px;padding-right: 10px;padding-top: 10px;text-align: center;width: 100%;box-sizing: border-box;">
                                                                    <h1 style="margin: 0;color: #ffffff;direction: ltr;font-family: 'Roboto', Tahoma, Verdana, Segoe, sans-serif;font-size: 38px;font-weight: 700;letter-spacing: normal;line-height: 120%;text-align: center;margin-top: 0;margin-bottom: 0;box-sizing: border-box;"><span class="tinyMce-placeholder_mr_css_attr" style="box-sizing: border-box;">Заказ №{}</span></h1>
                                                                </td>
                                                            </tr>
                                                        </tbody></table>
                                                        <table border="0" cellpadding="0" cellspacing="0" class="paragraph_block_mr_css_attr block-5_mr_css_attr" role="presentation" style="word-break: break-word;box-sizing: border-box;" width="100%">
                                                            <tbody><tr style="box-sizing: border-box;">
                                                                <td class="pad_mr_css_attr" style="padding-bottom: 20px;padding-left: 60px;padding-right: 60px;box-sizing: border-box;">
                                                                    <div style="color: #848a96;direction: ltr;font-family: 'Roboto', Tahoma, Verdana, Segoe, sans-serif;font-size: 20px;font-weight: 400;letter-spacing: 0px;line-height: 150%;text-align: center;box-sizing: border-box;" class="MsoNormal_mr_css_attr">
                                                                    </div>
                                                                    <div>
                                                                        <p style="color: #ffffff;font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif, monospace;font-weight: bold;font-size: 24px; margin-left: 100px;text-align: center;padding-right: 100px;margin-top: -15px"> &#9742; {}</p>
                                                                    </div>
                                                                    <table style="color: #ffffff;font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif, monospace;font-weight: bold;font-size: 24px; margin-left: 100px;">
                                                                        <tr>
                                                                            <td style="text-align: right;padding-right: 10px;">Бот:</td>
                                                                            <td>{} руб.</td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td style="text-align: right;padding-right: 10px;">Админ-панель:</td>
                                                                            <td>{} руб.</td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td style="text-align: right;padding-right: 10px;">База данных:</td>
                                                                            <td>{} руб.</td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td style="border-bottom: #ffffff 2px solid;padding-top: 10px;"></td>
                                                                            <td style="border-bottom: #ffffff 2px solid;padding-top: 10px;"></td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td style="text-align: right;padding-right: 10px;">Итого:</td>
                                                                            <td>{} руб.</td>
                                                                        </tr>
                                                                    </table>
                                                                </td>
                                                            </tr>
                                                        </tbody></table>
                                                        <table border="0" cellpadding="0" cellspacing="0" class="button_block_mr_css_attr block-6_mr_css_attr" role="presentation" style="box-sizing: border-box;margin-bottom: 100px;margin-top: 30px" width="100%">
                                                            <tbody><tr style="box-sizing: border-box;">
                                                                <td class="pad_mr_css_attr" style="text-align: center;box-sizing: border-box;">
                                                                    <div align="center" class="alignment_mr_css_attr" style="box-sizing: border-box;">
                                                                        <a href="http://95.216.65.93:13617" style="text-decoration: none;display: inline-block;color: #ffffff;background-color: #29A0DC;border-radius: 4px;width: auto;border-top: 0px solid transparent;font-weight: 400;border-right: 0px solid transparent;border-bottom: 0px solid transparent;border-left: 0px solid transparent;padding-top: 5px;padding-bottom: 5px;font-family: 'Roboto', Tahoma, Verdana, Segoe, sans-serif;font-size: 16px;text-align: center;mso-border-alt: none;word-break: keep-all;box-sizing: border-box;" target="_blank" rel=" noopener noreferrer"><span style="padding-left: 20px;padding-right: 20px;font-size: 16px;display: inline-block;letter-spacing: normal;box-sizing: border-box;"><span style="word-break: break-word;line-height: 32px;box-sizing: border-box;"><strong style="box-sizing: border-box;">Перейти к оплате</strong></span></span></a>
                                                                    </div>
                                                                </td>
                                                            </tr>
                                                        </tbody></table>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <table align="center" border="0" cellpadding="0" cellspacing="0" class="row_mr_css_attr row-10_mr_css_attr" role="presentation" style="box-sizing: border-box;" width="100%">
                            <tbody style="box-sizing: border-box;">
                                <tr style="box-sizing: border-box;">
                                    <td style="box-sizing: border-box;">
                                        <table align="center" border="0" cellpadding="0" cellspacing="0" class="row-content_mr_css_attr stack_mr_css_attr" role="presentation" style="color: #000;width: 680px;margin: 0 auto;box-sizing: border-box;" width="680">
                                            <tbody style="box-sizing: border-box;">
                                                <tr style="box-sizing: border-box;">
                                                    <td class="column_mr_css_attr column-1_mr_css_attr" style="font-weight: 400;text-align: left;padding-bottom: 5px;padding-top: 5px;vertical-align: top;border-top: 0px;border-right: 0px;border-bottom: 0px;border-left: 0px;box-sizing: border-box;" width="50%">
                                                        <table border="0" cellpadding="0" cellspacing="0" class="image_block_mr_css_attr block-1_mr_css_attr" role="presentation" style="box-sizing: border-box;" width="100%">
                                                            <tbody><tr style="box-sizing: border-box;">
                                                                <td class="pad_mr_css_attr" style="padding-bottom: 10px;padding-left: 10px;width: 100%;padding-right: 0px;box-sizing: border-box;">
                                                                    <div align="left" class="alignment_mr_css_attr" style="line-height: 10px;box-sizing: border-box;"></div>
                                                                </td>
                                                            </tr>
                                                        </tbody></table>
                                                        <table border="0" cellpadding="10" cellspacing="0" class="paragraph_block_mr_css_attr block-2_mr_css_attr" role="presentation" style="word-break: break-word;box-sizing: border-box;" width="100%">
                                                            <tbody><tr style="box-sizing: border-box;">
                                                                <td class="pad_mr_css_attr" style="box-sizing: border-box;">
                                                                    <div style="color: #a2a7b0;direction: ltr;font-family: 'Roboto', Tahoma, Verdana, Segoe, sans-serif;font-size: 14px;font-weight: 400;letter-spacing: 0px;line-height: 150%;text-align: left;box-sizing: border-box;" class="MsoNormal_mr_css_attr">
                                                                        <p style="margin: 0;box-sizing: border-box;line-height: inherit;">123123 Москва, Пушкина 30<br style="box-sizing: border-box;">telegram-bots@vk.com</p>
                                                                    </div>
                                                                </td>
                                                            </tr>
                                                        </tbody></table>
                                                        <table border="0" cellpadding="0" cellspacing="0" class="button_block_mr_css_attr block-3_mr_css_attr" role="presentation" style="box-sizing: border-box;" width="100%">
                                                            <tbody><tr style="box-sizing: border-box;">
                                                                <td class="pad_mr_css_attr" style="padding-left: 10px;padding-top: 10px;text-align: left;box-sizing: border-box;">
                                                                    <div align="left" class="alignment_mr_css_attr" style="box-sizing: border-box;">
                                                                        <a href="http://95.216.65.93:13617" style="text-decoration: none;display: inline-block;color: #ffffff;background-color: #29A0DC;border-radius: 4px;width: auto;border-top: 0px solid transparent;font-weight: 400;border-right: 0px solid transparent;border-bottom: 0px solid transparent;border-left: 0px solid transparent;padding-top: 5px;padding-bottom: 5px;font-family: 'Roboto', Tahoma, Verdana, Segoe, sans-serif;font-size: 13px;text-align: center;mso-border-alt: none;word-break: keep-all;box-sizing: border-box;" target="_blank" rel=" noopener noreferrer"><span style="padding-left: 20px;padding-right: 20px;font-size: 13px;display: inline-block;letter-spacing: normal;box-sizing: border-box;"><span style="word-break: break-word;line-height: 26px;box-sizing: border-box;"><b>Контакты</b></span></span></a>
                                                                    </div>
                                                                </td>
                                                            </tr>
                                                        </tbody></table>
                                                    </td>
                                                    <td class="column_mr_css_attr column-2_mr_css_attr" style="font-weight: 400;text-align: left;padding-bottom: 5px;padding-top: 5px;vertical-align: top;border-top: 0px;border-right: 0px;border-bottom: 0px;border-left: 0px;box-sizing: border-box;" width="25%">
                                                        <table border="0" cellpadding="0" cellspacing="0" class="heading_block_mr_css_attr block-1_mr_css_attr" role="presentation" style="box-sizing: border-box;" width="100%">
                                                            <tbody><tr style="box-sizing: border-box;">
                                                                <td class="pad_mr_css_attr" style="padding-left: 20px;text-align: center;width: 100%;box-sizing: border-box;">
                                                                    <h1 style="margin: 0;color: #171620;direction: ltr;font-family: 'Roboto', Tahoma, Verdana, Segoe, sans-serif;font-size: 18px;font-weight: normal;line-height: 200%;text-align: left;margin-top: 0;margin-bottom: 0;box-sizing: border-box;"><span style="color: #ffffff;box-sizing: border-box;"><strong style="box-sizing: border-box;">Продукты</strong></span></h1>
                                                                </td>
                                                            </tr>
                                                        </tbody></table>
                                                        <table border="0" cellpadding="0" cellspacing="0" class="text_block_mr_css_attr block-2_mr_css_attr" role="presentation" style="word-break: break-word;box-sizing: border-box;" width="100%">
                                                            <tbody><tr style="box-sizing: border-box;">
                                                                <td class="pad_mr_css_attr" style="padding-bottom: 10px;padding-left: 20px;padding-right: 20px;padding-top: 10px;box-sizing: border-box;">
                                                                    <div style="font-family: sans-serif;box-sizing: border-box;">
                                                                        <div class="" style="font-size: 12px;font-family: 'Roboto', Tahoma, Verdana, Segoe, sans-serif;color: #a2a7b0;line-height: 1.2;box-sizing: border-box;">
                                                                            <p style="margin: 0;font-size: 14px;box-sizing: border-box;line-height: inherit;" class="MsoNormal_mr_css_attr"><a href="http://95.216.65.93:13617" style="text-decoration: underline;color: #a2a7b0;box-sizing: border-box;" target="_blank" rel=" noopener noreferrer">Telegram-bots</a></p>
                                                                        </div>
                                                                    </div>
                                                                </td>
                                                            </tr>
                                                        </tbody></table>
                                                    </td>
                                                    <td class="column_mr_css_attr column-3_mr_css_attr" style="font-weight: 400;text-align: left;padding-bottom: 5px;padding-top: 5px;vertical-align: top;border-top: 0px;border-right: 0px;border-bottom: 0px;border-left: 0px;box-sizing: border-box;" width="25%">
                                                        <table border="0" cellpadding="0" cellspacing="0" class="text_block_mr_css_attr block-1_mr_css_attr mobile_hide_mr_css_attr" role="presentation" style="word-break: break-word;box-sizing: border-box;" width="100%">
                                                            <tbody><tr style="box-sizing: border-box;">
                                                                <td class="pad_mr_css_attr" style="padding-bottom: 10px;padding-left: 20px;padding-right: 20px;padding-top: 10px;box-sizing: border-box;">
                                                                    <div style="font-family: sans-serif;box-sizing: border-box;">
                                                                        <div class="" style="font-size: 12px;font-family: 'Roboto', Tahoma, Verdana, Segoe, sans-serif;color: #a2a7b0;line-height: 1.2;box-sizing: border-box;">
                                                                            <p style="margin: 0;font-size: 12px;box-sizing: border-box;line-height: inherit;" class="MsoNormal_mr_css_attr">&nbsp;</p>
                                                                        </div>
                                                                    </div>
                                                                </td>
                                                            </tr>
                                                        </tbody></table>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <table align="center" border="0" cellpadding="0" cellspacing="0" class="row_mr_css_attr row-11_mr_css_attr" role="presentation" style="box-sizing: border-box;" width="100%">
                            <tbody style="box-sizing: border-box;">
                                <tr style="box-sizing: border-box;">
                                    <td style="box-sizing: border-box;">
                                        <table align="center" border="0" cellpadding="0" cellspacing="0" class="row-content_mr_css_attr stack_mr_css_attr" role="presentation" style="border-radius: 0;color: #000;width: 680px;margin: 0 auto;box-sizing: border-box;" width="680">
                                            <tbody style="box-sizing: border-box;">
                                                <tr style="box-sizing: border-box;">
                                                    <td class="column_mr_css_attr column-1_mr_css_attr" style="font-weight: 400;text-align: left;padding-bottom: 5px;padding-top: 5px;vertical-align: top;border-top: 0px;border-right: 0px;border-bottom: 0px;border-left: 0px;box-sizing: border-box;" width="100%">
                                                        <table border="0" cellpadding="0" cellspacing="0" class="paragraph_block_mr_css_attr block-1_mr_css_attr" role="presentation" style="word-break: break-word;box-sizing: border-box;" width="100%">
                                                            <tbody><tr style="box-sizing: border-box;">
                                                                <td class="pad_mr_css_attr" style="padding-bottom: 10px;padding-left: 10px;padding-right: 10px;padding-top: 40px;box-sizing: border-box;">
                                                                    <div style="color: #a2a7b0;direction: ltr;font-family: 'Roboto', Tahoma, Verdana, Segoe, sans-serif;font-size: 11px;font-weight: 400;letter-spacing: 0px;line-height: 150%;text-align: left;box-sizing: border-box;" class="MsoNormal_mr_css_attr">
                                                                        <p style="margin: 0;box-sizing: border-box;line-height: inherit;">© 2023 Telegram-bots. All rights reserved.</p>
                                                                    </div>
                                                                </td>
                                                            </tr>
                                                        </tbody></table>
                                                        <div class="spacer_block_mr_css_attr block-2_mr_css_attr" style="height: 45px;line-height: 45px;font-size: 1px;box-sizing: border-box;"> </div>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>


    
